<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Transfer Village - {% block title %}
        {% endblock title %}</title>
    <meta name="description" content="eSports and Gaming NFT Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- CSS here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/plugins.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">

    <!-- Page-Revealer -->
    <script src="{{ url_for('static', filename='assets/js/tg-page-head.js') }}"></script>
</head>

<body>


    <!-- scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="flaticon-right-arrow"></i>
    </button>
    <!-- scroll-top-end-->

    <!-- header-area -->
    <header>
        <div id="sticky-header" class="tg-header__area transparent-header">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-12">
                        <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                        <div class="tgmenu__wrap">
                            <nav class="tgmenu__nav">
                                <div class="logo">
                                    <h1><a href="{{ url_for('main.home') }}">Transfer Village</a></h1>
                                </div>
                                <div class="tgmenu__navbar-wrap tgmenu__main-menu d-none d-xl-flex">
                                    <!-- <ul class="navigation">
                                        <li class="active menu-item-has-children"><a
                                                href="{{ url_for('main.home') }}">Home</a>

                                        </li>
                                        <li><a href="#">ABOUT US</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul> -->
                                </div>
                                <div class="tgmenu__action d-none d-md-block">
                                    <ul class="list-wrap">
                                        {% if current_user.is_authenticated %}
                                        <li class="header-btn"><a href="{{ url_for('share.file') }}"
                                                class="tg-border-btn"><i class="bi bi-pencil-square"></i> Share File</a>
                                        </li>
                                        {% else %}
                                        {% if page=='login' %}
                                        <li class="header-btn"><a href="{{ url_for('main.register') }}"
                                                class="tg-border-btn"><i class="bi bi-pencil-square"></i> Register</a>
                                        </li>
                                        {% else %}
                                        <li class="header-btn"><a href="{{ url_for('main.login') }}"
                                                class="tg-border-btn"><i class="bi bi-pencil-square"></i> Sign In</a>
                                        </li>
                                        {% endif %}
                                        {% endif %}

                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- Mobile Menu  -->
                        <div class="tgmobile__menu">
                            <nav class="tgmobile__menu-box">
                                <div class="close-btn"><i class="flaticon-swords-in-cross-arrangement"></i></div>
                                <div class="nav-logo">
                                    <a href="{{ url_for('main.home') }}"><img
                                            src="{{ url_for('static', filename='assets/img/logo/logo.png') }}"
                                            alt="Logo"></a>
                                </div>

                                <div class="tgmobile__menu-outer">
                                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                                </div>
                                <div class="social-links">
                                    <ul class="list-wrap">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="tgmobile__menu-backdrop"></div>
                        <!-- End Mobile Menu -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-area-end -->



    {% block content %}

    {% endblock %}


    <!-- footer-start -->
    <footer class="footer-style-one">
        <div class="footer__top-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-8">
                        <div class="footer-widget">
                            <div class="footer-logo logo">
                                <h2>Transfer Village</h2>
                            </div>
                            <div class="footer-text">
                                <p class="desc">Share files
                                    easily. Password protected
                                    files. Delete files automatically once downloaded.</p>
                                <p class="social-title">Active <span>With Us <i
                                            class="fas fa-angle-double-right"></i></span></p>
                                <div class="footer-social">
                                    <a href="#"><img
                                            src="{{ url_for('static', filename='assets/img/icons/social_icon01.png') }}"
                                            alt="iocn"></a>
                                    <a href="#"><img
                                            src="{{ url_for('static', filename='assets/img/icons/social_icon02.png') }}"
                                            alt="iocn"></a>
                                    <a href="#"><img
                                            src="{{ url_for('static', filename='assets/img/icons/social_icon03.png') }}"
                                            alt="iocn"></a>
                                    <a href="#"><img
                                            src="{{ url_for('static', filename='assets/img/icons/social_icon04.png') }}"
                                            alt="iocn"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-5 col-sm-6">
                        <div class="footer-widget widget_nav_menu">
                            <h4 class="fw-title">Quick Links</h4>
                            <ul class="list-wrap menu">
                                <li><a href="{{ url_for('main.login') }}">Sign In</a></li>
                                <li><a href="{{ url_for('main.register') }}">Register</a></li>
                                <li><a href="{{ url_for('share.file') }}">Share File</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-8">
                        <div class="footer-widget">
                            <h4 class="fw-title">Newsletter</h4>
                            <div class="footer-newsletter">
                                <p>Subscribe our newsletter to get our latest update.</p>
                                <form action="{{ url_for('main.newsletter') }}" method="post"
                                    class="footer-newsletter-form">
                                    <input name="email" type="email" placeholder="Your email address" required>
                                    <button type="submit"><i class="flaticon-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright__wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-7">
                        <div class="copyright__text">
                            <p>Copyright &copy; 2023 - All Rights Reserved By <span><a
                                        href="{{ url_for('main.home') }}">Transfer Village</a></span></p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="copyright__card text-center text-md-end">
                            <img src="{{ url_for('static', filename='assets/img/others/payment_card.png') }}"
                                alt="payment card">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-start-end -->

    <!-- JS here -->
    <script src="{{ url_for('static', filename='assets/js/vendor/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/ajax-form.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

    <!-- Toast Script -->
    <script>
        window.onload = (event) => {
            let myAlert = document.querySelector('.toast');
            let bsAlert = new bootstrap.Toast(myAlert);

            setTimeout(function () {
                bsAlert.show();
            }, 100);
            let date_time = new Date();
            let hr = date_time.getHours();
            let min = date_time.getMinutes();
            let sec = date_time.getSeconds();
            if (sec.toString().length == 1) {
                sec = '0' + sec.toString();
            }
            if (min.toString().length == 1) {
                min = '0' + min.toString();
            }
            if (hr.toString().length == 1) {
                hr = '0' + hr.toString();
            }
            let activity_time = document.getElementById("activity_time").innerHTML = hr + ":" + min + ":" + sec;
        };
    </script>
</body>

</html>