{% extends 'main/base.html' %}

{% block title %}
Enter Password
{% endblock title %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for cat, msg in messages %}
<div role="alert" aria-live="assertive" aria-atomic="true" class="toast fixed-top m-3 ms-auto" data-bs-autohide="true">
    <div class="toast-header">
        <span>Activity</span>
        <strong class="me-auto"></strong>
        <small id="activity_time"></small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    {% if cat == 'danger' %}
    <div class="toast-body" style="background-color: red; color: white;">
        {{ msg }}
    </div>
    {% elif cat == 'success' %}
    <div class="toast-body" style="background-color: #28a745; color: white;">
        {{ msg }}
    </div>
    {% endif %}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!-- main-area -->
<main class="main--area">
    <section class="breadcrumb-area breadcrumb__hide-img"
        data-background="{{ url_for('static', filename='assets/img/slider/slider_bg.jpg') }}"
        style="background-image: url(&quot;assets/img/bg/breadcrumb_bg02.jpg&quot;);">
        <div class="container">
            <div class="breadcrumb__wrapper">
                <div class="row">
                    <div class="album py-5">
                        <div class="container">
                            <div class="contact__form-wrap">
                                <form class="row g-3" action="{{ url_for('files.share_file', filename=filename) }}"
                                    method="post" enctype="multipart/form-data">
                                    <div class="col-md-6">
                                        <div class="input-grp">
                                            <label for="password" class="form-label">Enter Password</label>
                                            <input type="password"
                                                style="border-color:var(--tg-theme-primary); color: white;"
                                                class="form-control" id="password" name="password"
                                                placeholder="Enter Password">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit"
                                            class="submit-btn btn btn-lg btn-warning justify-content-center">Access
                                            File</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}